$asset:'http://localhost:4000';

.jackpotDiv {
  width: 772px;
  height: 79px;
  overflow: hidden;
  padding: 3px 0 7px 11px;
  margin: 3px auto;
  background: transparent url('./img/number-bg.png') repeat 0 0;
  transform: translate3d(0, 0, 0);
  position: relative;
  display: block;
}

.jackpotArea {
  width: 100%;
  overflow: hidden;
  height: 71px;
}

.maiNumber {
  opacity: 1;
  float: left;
  position: relative;
  display: block;
  left: 0;
  top: 0;
  width: 49px;
  height: 100%;
  margin-right: 9px; // transition: transform 500ms ease; 
  &:nth-child(3n) {
    margin-right: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.jackpotNumber {
  float: left;
  width: 52px;
  height: 71px;
  background-image: url('./img/number-all.png');
  min-height: 1px;
  outline: none;
}

.number0 {
  background-position-y: -7px;
}

.number1 {
  background-position-y: -75px;
}

.number2 {
  background-position-y: -149px;
}

.number3 {
  background-position-y: -221px;
}

.number4 {
  background-position-y: -292px;
}

.number5 {
  background-position-y: -360px;
}

.number6 {
  background-position-y: -431px;
}

.number7 {
  background-position-y: -502px;
}

.number8 {
  background-position-y: -574px;
}

.number9 {
  background-position-y: -645px;
}

.number10 {
  background-position-y: -645px;
}
